<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <h2>Admin Dashboard</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="admin-dashboard">Manage Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="inventory">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="admin-popular">Popular Books</a>
          </li>
        
        </ul>
        <form class="d-flex">

          <button class="btn btn-outline-success" type="submit" (click)="logOut()">Log Out</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="container mt-5">
    <h2>Add Book</h2>
    <form>
      <div class="form-group">
        <label for="authorId">Author ID</label>
        <input type="text" class="form-control" id="authorId" #authorId required>
      </div>
      <div class="form-group">
        <label for="publisherId">Publisher ID</label>
        <input type="text" class="form-control" id="publisherId" #publisherId required>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" #title required>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" #category required>
      </div>
      <div class="form-group">
        <label for="link">Link</label>
        <input type="text" class="form-control" id="link" #link required>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" #price required>
      </div>
      <button type="submit" class="btn btn-primary"
        (click)="addBook(authorId.value,publisherId.value,title.value,category.value,link.value,price.value)">Add Book</button>
    </form>
  </div>



  <div class="container mt-5">
    <h2>Update Book</h2>
    <form>
      <div class="form-group">
        <label for="bookId">Book ID</label>
        <input type="text" class="form-control" id="bookId" #bookId required>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" id="quantity" #quantity required>
      </div>
      
      <button type="submit" class="btn btn-primary"
        (click)="updateBook(bookId.value,quantity.value)">Update Quantity</button>
    </form>
  </div>




</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</html>



<!-- (submit)="onSubmit()" -->